doctype html
html(lang="en")
	head
		title FontAwesome - Jade
		link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css')
		//- link(rel='stylesheet', href='../lib/font-awesome-4.4.0/css/font-awesome.min.css')
	body
		a(class='btn btn-danger', href='#')
			i(class='fa fa-trash-o fa-lg') Deelete